[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
jupyter = "*"
notebook = "*"
ipython = "*"
flake8 = "*"
flake8-mypy = "*"
mypy-lang = "*"
isort = "*"
winpdb-reborn = "==2.0.0.dev5"
ipdb = "*"
pycallgraph = "*"
psutil = "*"

[packages]
pygame = "*"
wxpython = "*"
feedparser = "*"
ply = "*"
pywin32 = {version = "*",sys_platform = "== 'win32'"}
py2exe = {version = "*",sys_platform = "== 'win32'"}
# winsound = {version = "*",sys_platform = "== 'win32'"}
#[requires]
#python_version = "3.8"
